# vs
obj
bin
Bin
build
*.csproj.user
*ReSharper*
*resharper*
*.suo
*.user
*.bak
*.sln.cache
 
# other
*.bak
*.cache
*.log
*.swp
*.user
* Thumbs.db
*.bin
Autotest.config


# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets
#Nuget/input/lib
lib
.vs/